@charset "UTF-8";
/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand/quicksand-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/quicksand/quicksand-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/quicksand-v9-latin-regular.woff2") format("woff2"), url("../fonts/quicksand/quicksand-v9-latin-regular.woff") format("woff"), url("../fonts/quicksand/quicksand-v9-latin-regular.ttf") format("truetype"), url("../fonts/quicksand/quicksand-v9-latin-regular.svg#Quicksand") format("svg");
  /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quicksand/quicksand-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/quicksand/quicksand-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/quicksand-v9-latin-700.woff2") format("woff2"), url("../fonts/quicksand/quicksand-v9-latin-700.woff") format("woff"), url("../fonts/quicksand/quicksand-v9-latin-700.ttf") format("truetype"), url("../fonts/quicksand/quicksand-v9-latin-700.svg#Quicksand") format("svg");
  /* Legacy iOS */
}
/* Generales */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .contenedor {
    padding: 40px;
  }
}
.contenedor:first-child {
  padding-bottom: 0;
}
.contenedor:only-child {
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .contenedor:only-child {
    padding: 40px;
  }
}

/* Imágenes */
.img-contenedor {
  text-align: center;
}
.img-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tipografias */
html {
  font-family: "Quicksand";
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Botón */
div.btn a.btn {
  color: white;
  background: #272727;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}
div.btn a.btn:hover {
  color: #272727;
  background: white;
}

/* menu-principal */
header {
  background: rgba(203, 130, 139, 0.6);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.menu-contenedor {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media only screen and (min-width: 981px) {
  .menu-contenedor {
    justify-content: center;
  }
}
.menu-contenedor input#menu-bar {
  display: none;
}
.menu-contenedor input#menu-bar:checked ~ nav ul.top-menu {
  transform: translate(0);
}
.menu-contenedor label {
  display: block;
  margin-left: auto;
  cursor: pointer;
}
@media only screen and (min-width: 981px) {
  .menu-contenedor label {
    display: none;
  }
}
.menu-contenedor span.logo {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: auto;
}
.menu-contenedor span.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu-contenedor nav {
  margin-right: auto;
}
.menu-contenedor ul.top-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(203, 130, 139, 0.6);
  padding: 20px;
  height: calc(100vh - 80px);
  transform: translate(100%);
  transition: transform 0.5s linear;
}
@media only screen and (min-width: 981px) {
  .menu-contenedor ul.top-menu {
    transform: translate(0);
    position: static;
    display: block;
    background: none;
    height: auto;
  }
}
.menu-contenedor ul.top-menu li {
  list-style: none;
  display: inline-block;
}
.menu-contenedor ul.top-menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-bottom: 4px solid transparent;
}
.menu-contenedor ul.top-menu li a:hover {
  border-bottom: 4px solid white;
}

/* Seleccion de pagina activa */
body.inicio li.inicio a {
  border-bottom: 4px solid white;
}

body.acerca-de li.acerca-de a {
  border-bottom: 4px solid white;
}

body.sobre-mi li.sobre-mi a {
  border-bottom: 4px solid white;
}

body.contacto li.contacto a {
  border-bottom: 4px solid white;
}

body.oficinas li.oficinas a {
  border-bottom: 4px solid white;
}

body.menu li.menu a {
  border-bottom: 4px solid white;
}

/* ------------ */
/* footer */
/* ------------ */
footer#footer-principal {
  background: #cb828b;
}
footer#footer-principal div.redes-sociales {
  text-align: center;
}
footer#footer-principal div.redes-sociales i {
  display: inline-block;
  font-size: 24px;
  padding: 10px 15px;
  color: #cb828b;
  border-radius: 50%;
  background: white;
}

/* ------------- */
/* Sección Hero página de inicio*/
/* ------------- */
.inicio section.hero {
  height: 100vh;
  width: 100%;
  background: url("../img/postres/fondo-principal-1.jpg");
  background-position: left center;
  background-size: cover;
  padding-top: 80px;
  overflow: hidden;
}
.inicio section.hero .slider {
  height: 100%;
  width: 400vw;
  display: flex;
}
.inicio section.hero .columna {
  height: 80%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slider 12s infinite 10s;
}
.inicio section.hero .columna .img-contenedor {
  width: 400px;
  padding-bottom: 40px;
}
.inicio section.hero .columna p {
  margin: 0 auto;
  width: 60vw;
  color: white;
  text-align: center;
}

/* Animación slider */
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-300vw);
  }
}
/* ----------------- */
/* Sección tradición */
/* ----------------- */
.inicio section.tradicion {
  color: #cb828b;
  min-height: 60vh;
  width: 100%;
  background: url("../img/postres/fondo descripcion.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio section.tradicion .contenedor {
  width: 90vw;
}
@media only screen and (min-width: 768px) {
  .inicio section.tradicion .contenedor {
    width: 60vw;
  }
}
@media only screen and (min-width: 981px) {
  .inicio section.tradicion .contenedor {
    width: 50vw;
  }
}
@media only screen and (min-width: 1405px) {
  .inicio section.tradicion .contenedor {
    width: 33vw;
  }
}
.inicio section.tradicion .contenedor:first-child {
  padding-bottom: 0;
}
.inicio section.tradicion .contenedor.postres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inicio section.tradicion .contenedor.postres .columna {
  max-width: 50%;
  padding-right: 15px;
}
@media only screen and (min-width: 768px) {
  .inicio section.tradicion .contenedor.postres .columna {
    max-width: 25%;
  }
}
.inicio section.tradicion .contenedor.postres .columna:last-child {
  padding-right: 0;
}
.inicio section.tradicion .contenedor.postres .img-contenedor {
  width: 80px;
  max-width: 100%;
}
.inicio section.tradicion h2 {
  text-align: center;
}
.inicio section.tradicion p {
  text-align: center;
}

/* --------------- */
/* Sección postres */
/* --------------- */
section.postres {
  height: calc(100vh - 80px);
}
section.postres .contenedor {
  max-width: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
section.postres .columna {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  section.postres .columna {
    width: 50%;
    height: 50%;
  }
}
@media only screen and (min-width: 1100px) {
  section.postres .columna {
    width: 25%;
    height: 100%;
  }
}
section.postres .columna:nth-child(1) {
  background: url("../img/postres/menu-1_escala.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section.postres .columna:nth-child(2) {
  background: url("../img/postres/menu-2_escala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
section.postres .columna:nth-child(3) {
  background: url("../img/postres/menu-3_escala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section.postres .columna:nth-child(4) {
  background: url("../img/postres/menu-4_escala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section.postres .columna .descripcion {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(203, 130, 139, 0.4);
  transition: all 0.5s ease;
}
@media only screen and (min-width: 768px) {
  section.postres .columna .descripcion {
    position: absolute;
    height: auto;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(203, 130, 139, 0.6);
  }
}
section.postres .columna .descripcion > * {
  text-align: center;
  color: white;
}
section.postres .columna a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  section.postres .columna a:hover ~ .descripcion {
    top: 50%;
    left: 50%;
  }
}

/* pagina inicio */
.contacto section.hero {
  height: calc(100vh - 80px);
  background: url("../img/postres/menu-4-background.jpg");
  background-position: left center;
  background-size: cover;
  padding-top: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto section.hero .contenedor {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
}
.contacto section.hero .contenedor .columna {
  width: 50%;
  padding-right: 40px;
  /* mover texto a la derecha */
  /* color y tamaño a todas las propiedas con .tipo-uno */
  /* h1 */
  /* parrafos */
}
.contacto section.hero .contenedor .columna:last-child {
  padding-right: 0;
}
.contacto section.hero .contenedor .columna .derecha {
  text-align: right;
}
.contacto section.hero .contenedor .columna .tipo-uno {
  color: #c47586;
  font-size: 22px;
  font-weight: lighter;
}
.contacto section.hero .contenedor .columna h1.tipo-uno {
  font-weight: normal;
}
.contacto section.hero .contenedor .columna p.tipo-uno {
  margin-bottom: 0;
}
.contacto section.hero .contenedor .columna p.tipo-dos {
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
}
.contacto section.hero .contenedor .columna p {
  color: #e86783;
  font-weight: normal;
  font-size: 19px;
}
.contacto section.hero form {
  display: flex;
  flex-wrap: wrap;
}
.contacto section.hero form > * {
  width: 100%;
  margin-bottom: 10px;
  padding: 1em;
  background: #c47586;
  border: 0;
  color: white;
}
.contacto section.hero form > *::placeholder {
  color: white;
}
.contacto section.hero form > *:last-child {
  margin-bottom: 0;
  padding: 0;
  background: none;
}
.contacto section.hero form div.btn {
  text-align: right;
}
.contacto section.hero form div.btn button {
  background: #c47586;
  border: 0;
  color: white;
  padding: 0.6em;
  padding-right: 2em;
  padding-left: 2em;
}

/* ---------- */
/* Sobre mí */
/* ---------- */
/* Sección de portada */
.sobre-mi section.hero {
  color: white;
  text-shadow: 0.08em 0.08em 0.08em #272727;
  width: 100%;
  background: url("../img/personas/foto chef (2).jpg");
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
}
@media only screen and (min-width: 981px) {
  .sobre-mi section.hero {
    min-height: none;
    height: 90vh;
  }
}
.sobre-mi section.hero .contenedor {
  max-width: none;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
@media only screen and (min-width: 981px) {
  .sobre-mi section.hero .contenedor {
    background: rgba(203, 130, 139, 0.4);
    width: 45vw;
    margin: 10vh 5vw 0 auto;
    height: 75vh;
  }
}
.sobre-mi section.hero .img-contenedor {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: url("../img/personas/chef principal.png");
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}
@media only screen and (min-width: 480px) {
  .sobre-mi section.hero .img-contenedor {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 981px) {
  .sobre-mi section.hero .img-contenedor {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
.sobre-mi section.hero .columna {
  text-align: center;
}
@media only screen and (min-width: 981px) {
  .sobre-mi section.hero .columna {
    padding-left: 125px;
  }
}

/* seccion lo que hago */
section.lo-que-hago .contenedor {
  width: 90vw;
  /* Clearfix */
}
@media only screen and (min-width: 768px) {
  section.lo-que-hago .contenedor {
    width: 80vw;
  }
}
@media only screen and (min-width: 768px) {
  section.lo-que-hago .contenedor:before, section.lo-que-hago .contenedor:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
}
@media only screen and (min-width: 768px) {
  section.lo-que-hago .contenedor:after {
    clear: both;
  }
}
section.lo-que-hago .contenedor .img-contenedor {
  width: 200px;
  height: 250px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  section.lo-que-hago .contenedor .img-contenedor {
    width: 100px;
    height: 150px;
    margin: 0 0 0 15px;
    float: right;
  }
}
section.lo-que-hago .contenedor .img-contenedor img {
  object-fit: contain;
}
section.lo-que-hago .contenedor h2 {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  section.lo-que-hago .contenedor h2 {
    text-align: right;
  }
}

/* seccion nominaciones */
section.nominaciones {
  color: white;
}
section.nominaciones .contenedor {
  max-width: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #cb828b;
}
@media only screen and (min-width: 768px) {
  section.nominaciones .contenedor {
    flex-direction: row;
  }
}
section.nominaciones .contenedor .columna:nth-child(1) {
  flex: 1;
  height: 50vh;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  section.nominaciones .contenedor .columna:nth-child(1) {
    width: 30%;
    height: 100%;
  }
}
section.nominaciones .contenedor .columna:nth-child(1) .img-contenedor {
  height: 100%;
  width: 100%;
}
section.nominaciones .contenedor .columna:nth-child(2) {
  width: 100%;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  section.nominaciones .contenedor .columna:nth-child(2) {
    width: 70%;
  }
}
section.nominaciones .contenedor .columna:nth-child(2) .contenedor-img-nominaciones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
section.nominaciones .contenedor .columna:nth-child(2) .img-contenedor {
  margin: 0;
  padding-right: 15px;
}
section.nominaciones .contenedor .columna:nth-child(2) .img-contenedor:nth-child(1) {
  width: 200px;
  height: 60px;
}
section.nominaciones .contenedor .columna:nth-child(2) .img-contenedor:nth-child(2) {
  width: 100px;
  height: 60px;
  padding-right: 0;
}
section.nominaciones .contenedor .columna:nth-child(2) .img-contenedor img {
  object-fit: contain;
}
section.nominaciones .contenedor .columna div.redes-sociales {
  margin-top: 20px;
}
section.nominaciones .contenedor .columna div.redes-sociales i {
  display: inline-block;
  font-size: 24px;
  padding: 10px 15px;
  color: #cb828b;
  border-radius: 50%;
  background: white;
}

/* Sección Novedades */
section.novedades {
  background: url("../img/postres/fondo principal 3.jpg");
  background-position: center center;
  text-align: center;
  color: white;
}
section.novedades .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
section.novedades .contenedor .columna {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  section.novedades .contenedor .columna {
    width: 50%;
  }
}
section.novedades .contenedor .columna:nth-child(1) {
  padding: 20px;
  background: rgba(203, 130, 139, 0.5);
  height: 100%;
  flex-grow: 1;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  section.novedades .contenedor .columna:nth-child(1) {
    margin-top: 0;
  }
}
section.novedades .contenedor .img-contenedor {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
section.novedades .contenedor .img-contenedor img {
  cursor: pointer;
}
section.novedades .contenedor .img-contenedor i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cb828b;
  font-size: 50px;
}

/* pagina oficinas */
/* section hero */
.oficinas section.hero {
  height: 100vh;
  background: url("../img/postres/menu-2-background.jpg");
  background-position: left center;
  background-size: cover;
  padding-top: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.oficinas section.hero .contenedor {
  line-height: 1.8em;
  text-align: right;
  color: white;
  display: flex;
  align-items: center;
  height: 90%;
  max-width: none;
  margin: 5% auto 5% 10%;
  width: 70%;
  background: rgba(203, 130, 139, 0.4);
  padding: 0;
}
.oficinas section.hero .contenedor .columna {
  height: 100%;
  padding: 20px;
}
.oficinas section.hero .contenedor .columna:nth-child(1) {
  border-right: 10px solid white;
  width: 50%;
  border-radius: 5px;
  position: relative;
  transform: translate(40%, 0);
}
.oficinas section.hero .contenedor .columna:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
}
.oficinas section.hero .contenedor .columna .img-contenedor {
  height: 14vh;
  width: 11vw;
}
.oficinas section.hero .contenedor .columna .img-contenedor img {
  object-fit: contain;
}
.oficinas section.hero .contenedor .columna p {
  margin: 0;
}
.oficinas section.hero .contenedor .columna div.redes-sociales i {
  display: inline-block;
  font-size: 16px;
  padding: 6px 11px;
  color: #cb828b;
  border-radius: 50%;
  background: white;
}

/* ------------------------- */
/* Página Acerca de Nosotros */
/* ------------------------- */
/* Portada */
body.acerca-de {
  background: url("../img/postres/fondo-acerca-de.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body.acerca-de section {
  margin: 10vh 0;
}
body.acerca-de section.nosotros {
  background: rgba(203, 130, 139, 0.5);
  text-align: center;
  color: white;
  margin-top: calc(80px + 5vh);
}
body.acerca-de section.nosotros .contenedor {
  height: 100%;
  width: 90vw;
}
@media only screen and (min-width: 768px) {
  body.acerca-de section.nosotros .contenedor {
    width: 60vw;
  }
}
body.acerca-de section.nosotros .columna {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body.acerca-de section.nosotros .img-contenedor {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
body.acerca-de section.nosotros .img-contenedor img {
  object-fit: contain;
}

/* Sección Nuestra Familia */
section.familia {
  text-align: center;
  color: #cb828b;
}
section.familia .contenedor {
  height: 100%;
  width: 90vw;
}
@media only screen and (min-width: 768px) {
  section.familia .contenedor {
    width: 60vw;
  }
}

/* Sección Nuestro Equipo */
section.equipo {
  text-align: center;
  color: white;
  background: #cb828b;
}
section.equipo .contenedor {
  max-width: 1080px;
}
section.equipo .contenedor:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
section.equipo .contenedor:nth-child(2) .columna {
  width: auto;
  height: calc(100vh - 80px);
  flex-grow: 1;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  section.equipo .contenedor:nth-child(2) .columna {
    width: calc(50% - 10px);
  }
}
@media only screen and (min-width: 981px) {
  section.equipo .contenedor:nth-child(2) .columna {
    height: auto;
    width: calc(25% - 10*3px);
  }
}
section.equipo .contenedor:nth-child(2) .columna:last-child {
  margin-right: 0;
}
section.equipo .contenedor:nth-child(2) .columna:nth-child(1) {
  background: url("../img/personas/chef (1).jpg");
  background-size: cover;
  background-origin: center center;
}
section.equipo .contenedor:nth-child(2) .columna:nth-child(2) {
  background: url("../img/personas/chef principal.png");
  background-size: cover;
  background-origin: center center;
}
section.equipo .contenedor:nth-child(2) .columna:nth-child(3) {
  background: url("../img/personas/chef (1).png");
  background-size: cover;
  background-origin: center center;
}
section.equipo .contenedor:nth-child(2) .columna:nth-child(4) {
  background: url("../img/personas/chef (2).jpg");
  background-size: cover;
  background-origin: center center;
}
section.equipo .contenedor:nth-child(2) .columna:hover .descripcion {
  transform: translate(0, 0);
}
section.equipo .contenedor:nth-child(2) .columna .descripcion {
  transform: translate(0, 80%);
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(203, 130, 139, 0.5);
}
section.equipo .contenedor:nth-child(2) .columna .descripcion div.redes-sociales {
  text-align: center;
}
section.equipo .contenedor:nth-child(2) .columna .descripcion div.redes-sociales i {
  display: inline-block;
  font-size: 16px;
  padding: 6px 11px;
  color: #cb828b;
  border-radius: 50%;
  background: white;
}

section.lema {
  text-align: center;
  color: #cb828b;
  background: url("../img/postres/fondo descripcion.jpg");
  background-size: cover;
  background-position: center center;
}
section.lema .contenedor {
  width: 90vw;
}
@media only screen and (min-width: 768px) {
  section.lema .contenedor {
    width: 60vw;
  }
}
section.lema .contenedor .img-contenedor {
  width: 300px;
  margin: 0 auto;
}

/*# sourceMappingURL=estilos.css.map */
