@charset "UTF-8";
/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand/quicksand-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/quicksand/quicksand-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/quicksand-v9-latin-regular.woff2") format("woff2"), url("../fonts/quicksand/quicksand-v9-latin-regular.woff") format("woff"), url("../fonts/quicksand/quicksand-v9-latin-regular.ttf") format("truetype"), url("../fonts/quicksand/quicksand-v9-latin-regular.svg#Quicksand") format("svg");
  /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quicksand/quicksand-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/quicksand/quicksand-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/quicksand-v9-latin-700.woff2") format("woff2"), url("../fonts/quicksand/quicksand-v9-latin-700.woff") format("woff"), url("../fonts/quicksand/quicksand-v9-latin-700.ttf") format("truetype"), url("../fonts/quicksand/quicksand-v9-latin-700.svg#Quicksand") format("svg");
  /* Legacy iOS */
}
/* Generales */
.contenedor {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px;
}

/* Imágenes */
.img-contenedor {
  text-align: center;
}
.img-contenedor img {
  width: 100%;
  height: 100%;
}

/* Tipografias */
html {
  font-family: "Quicksand";
}

/* menu-principal */
header {
  background: rgba(203, 130, 139, 0.6);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.menu-contenedor {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-contenedor input#menu-bar {
  display: none;
}
.menu-contenedor label {
  display: none;
}
.menu-contenedor span.logo {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: auto;
}
.menu-contenedor span.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu-contenedor nav {
  margin-right: auto;
}
.menu-contenedor ul.top-menu {
  margin: 0;
  padding: 0;
}
.menu-contenedor ul.top-menu li {
  list-style: none;
  display: inline-block;
}
.menu-contenedor ul.top-menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-bottom: 4px solid transparent;
}
.menu-contenedor ul.top-menu li a:hover {
  border-bottom: 4px solid white;
}

/* Seleccion de pagina activa */
body.inicio li.inicio a {
  border-bottom: 4px solid white;
}

body.acerca-de li.acerca-de a {
  border-bottom: 4px solid white;
}

body.sobre-mi li.sobre-mi a {
  border-bottom: 4px solid white;
}

body.contacto li.contacto a {
  border-bottom: 4px solid white;
}

body.oficinas li.oficinas a {
  border-bottom: 4px solid white;
}

/* ------------ */
/* footer */
/* ------------ */
footer#footer-principal {
  background: #cb828b;
}
footer#footer-principal div.redes-sociales {
  text-align: center;
}
footer#footer-principal div.redes-sociales i {
  display: inline-block;
  font-size: 24px;
  padding: 10px 15px;
  color: #cb828b;
  border-radius: 50%;
  background: white;
}

/* ------------- */
/* Sección Hero página de inicio*/
/* ------------- */
.inicio section.hero {
  height: 100vh;
  width: 100%;
  background: url("../img/postres/fondo-principal-1.jpg");
  background-position: left center;
  background-size: cover;
  padding-top: 80px;
  overflow: hidden;
}
.inicio section.hero .slider {
  height: 100%;
  width: 400vw;
  display: flex;
}
.inicio section.hero .columna {
  height: 80%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slider 12s infinite 10s;
}
.inicio section.hero .columna .img-contenedor {
  width: 400px;
  padding-bottom: 40px;
}
.inicio section.hero .columna p {
  margin: 0 auto;
  width: 60vw;
  color: white;
  text-align: center;
}

/* Animación slider */
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-300vw);
  }
}
/* ----------------- */
/* Sección tradición */
/* ----------------- */
.inicio section.tradicion {
  height: 60vh;
  width: 100%;
  background: url("../img/postres/fondo descripcion.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio section.tradicion .contenedor {
  width: 33vw;
}
.inicio section.tradicion .contenedor:first-child {
  padding-bottom: 0;
}
.inicio section.tradicion .contenedor.postres {
  display: flex;
  justify-content: center;
}
.inicio section.tradicion .contenedor.postres .columna {
  padding-right: 15px;
}
.inicio section.tradicion .contenedor.postres .columna:last-child {
  padding-right: 0;
}
.inicio section.tradicion .contenedor.postres .img-contenedor {
  width: 80px;
}
.inicio section.tradicion h2 {
  text-align: center;
}
.inicio section.tradicion p {
  text-align: center;
}

/* --------------- */
/* Sección postres */
/* --------------- */
section.postres {
  height: calc(100vh - 80px);
}
section.postres .contenedor {
  max-width: none;
  width: 100%;
  padding: 0;
  display: flex;
  height: 100%;
}
section.postres .columna {
  width: 25%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
section.postres .columna:nth-child(1) {
  background: url("../img/postres/menu-1_escala.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section.postres .columna:nth-child(2) {
  background: url("../img/postres/menu-2_escala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
section.postres .columna:nth-child(3) {
  background: url("../img/postres/menu-3_escala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section.postres .columna:nth-child(4) {
  background: url("../img/postres/menu-4_escala.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section.postres .columna .descripcion {
  padding: 20px;
  position: absolute;
  top: -100%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: rgba(203, 130, 139, 0.6);
  transition: all 0.5s ease;
}
section.postres .columna .descripcion > * {
  text-align: center;
  color: white;
}
section.postres .columna a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
section.postres .columna a:hover ~ .descripcion {
  top: 50%;
  left: 50%;
}

/* pagina inicio */
.contacto section.hero {
  height: calc(100vh - 80px);
  background: url("../img/postres/menu-4-background.jpg");
  background-position: left center;
  background-size: cover;
  padding-top: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto section.hero .contenedor {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
}
.contacto section.hero .contenedor .columna {
  width: 50%;
  padding-right: 40px;
}
.contacto section.hero .contenedor .columna:last-child {
  padding-right: 0;
}

/*# sourceMappingURL=estilos.css.map */
