/* menu-principal */
header{
    background: rgba(#cb828b, 0.6);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.menu-contenedor{
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media only screen and (min-width: 981px){
        justify-content: center;
    }
    
    input#menu-bar{
        display: none;

        &:checked ~ nav ul.top-menu{
            transform: translate(0);
        }
    }
    label{
        display: block;
        margin-left: auto;
        cursor: pointer;
        color: white;

        @media only screen and (min-width: 981px){
            display: none;
        }

        
    }
    span.logo{
        display: block;
        width: 70px;
        height: 70px;
        margin-right: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    nav{
        margin-right: auto;
    }
    ul.top-menu{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(#cb828b, 0.6);
        padding: 20px;
        height: calc(100vh - 80px);
        transform: translate(100%);
        transition: transform 0.5s linear;

        @media only screen and (min-width: 981px){
            transform: translate(0);
            position: static;
            display: block;
            background: none;
            height: auto;
        }

        li{
            list-style: none;
            display: inline-block;
            a{
                display: inline-block;
                color: white;
                text-decoration: none;
                padding: 15px 25px;
                border-bottom: 4px solid transparent;

                &:hover{
                    border-bottom: 4px solid white;
                }
            }
        }
    }
}

/* Seleccion de pagina activa */

body.inicio{
    li.inicio{
        a{
            border-bottom: 4px solid white;
        }
    }
}

body.acerca-de{
    li.acerca-de{
        a{
            border-bottom: 4px solid white;
        }
    }
}

body.sobre-mi{
    li.sobre-mi{
        a{
            border-bottom: 4px solid white;
        }
    }
}

body.contacto{
    li.contacto{
        a{
            border-bottom: 4px solid white;
        }
    }
}

body.oficinas{
    li.oficinas{
        a{
            border-bottom: 4px solid white;
        }
    }
}
body.menu{
    li.menu{
        a{
            border-bottom: 4px solid white;
        }
    }
}