/* pagina oficinas */

/* section hero */
.oficinas section.hero {
    height: 100vh;
    background: url("../img/postres/menu-2-background.jpg");
    background-position: left center;
    background-size: cover;
    padding-top: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contenedor {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: none;
        width: 100%;
        padding: 0;
        .columna {
            height: 80%;
            padding-top: 80px;
            &:nth-child(1) {
                max-width: none;
                width: 50%;
                margin: 0 auto 0 10%;
                border-radius: 5px;
                position: relative;
                background: rgba(#cb828b, 0.4);
            }

            .img-contenedor {
                height: 14vh;
                width: 11vw;

                img {
                    object-fit: contain;
                }
            }
        }
    }
}