/* pagina oficinas */

/* section hero */
.oficinas section.hero {
    height: 100vh;
    background: url("../img/postres/menu-2-background.jpg");
    background-position: left center;
    background-size: cover;
    padding-top: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contenedor {
        line-height: 1.8em;
        text-align: right;
        color: white;
        display: flex;
        align-items: center;
        height: 90%;
        max-width: none;
        margin: 5% auto 5% 10%;
        width: 70%;
        background: rgba(#cb828b, 0.4);
        
        padding: 0;
        .columna {
            height: 100%;
            padding: 20px;
            &:nth-child(1) {
                border-right: 10px solid white;
                width: 50%;
                border-radius: 5px;
                position: relative;
                transform: translate(40%, 0);

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 100%;

                }
            }

            .img-contenedor {
                height: 14vh;
                width: 11vw;

                img {
                    object-fit: contain;
                }
            }

            p{
                margin: 0;
            }

            div.redes-sociales{
                
                i{
                    display: inline-block;
                    font-size: 16px;
                    padding: 6px 11px;
                    
                    color: #cb828b;
                    border-radius: 50%;
                    background: white;
                }
            }

           
        }
    }
}