/* ---------- */
/* Sobre mí */
/* ---------- */

/* Sección de portada */

.sobre-mi{
    section{
        // overflow-x: hidden;
        // overflow-y: visible;
    }
    section.hero{
        color: white;
        text-shadow: 0.08em 0.08em 0.08em #272727;

        
        width: 100%;
        background: url("../img/personas/foto\ chef\ \(2\).jpg");
        background-position: center center;
        background-size: cover;
        padding-top: 80px;

        @media only screen and (min-width: 981px){
            min-height: none;
            height: 90vh;
            
        }

        .contenedor{
            max-width: none;
            width: 100%;
            border-radius: 5px;
            position: relative;

            @media only screen and (min-width: 981px) {
                background: rgba(#cb828b, 0.4);
                width: 45vw;
                margin: 10vh 5vw 0 auto;
                height: 75vh;
            }
        }

        .img-contenedor{
            margin: 0 auto;
            width: 150px;
            height: 150px;
            background: url("../img/personas/chef principal.png");
            background-size: cover;
            background-position: top center;
            border-radius: 50%;

            @media only screen and (min-width: 480px) {
                width: 250px;
                height: 250px;
            }

            @media only screen and (min-width: 981px) {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
            }
        }

        .columna{
        
            text-align: center;
            @media only screen and (min-width: 981px) {
               
                padding-left: 125px;
            } 
        }
    }
}

/* seccion lo que hago */

section.lo-que-hago{
    .contenedor{
        width: 90vw;
        /* Clearfix */
        @media only screen and (min-width: 768px){
            width: 80vw;
        }
        &:before,
        &:after {

            @media only screen and (min-width: 768px){

                content: " ";
                /* 1 */
                display: table;
                /* 2 */
            }
        }

        &:after {

            @media only screen and (min-width: 768px){

                clear: both;
            }
        }

        
        .img-contenedor{
            width: 200px;
            height: 250px;
            margin: 0 auto;

            
            
            @media only screen and (min-width: 768px) {
                width: 100px;
                height: 150px;
                margin: 0 0 0 15px;
                float: right;
            }
            

            img{
                object-fit: contain;
            }
        }

        h2{
            text-align: center;
            @media only screen and (min-width: 768px){
                text-align: right;
            }

        }
    }
}

/* seccion nominaciones */

section.nominaciones{
    color: white;
    .contenedor{
        max-width: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #cb828b;

        @media only screen and (min-width: 768px){
            flex-direction: row;
        }

        .columna{

            &:nth-child(1){
                
                flex: 1;
                height: 50vh;
                width: 100%;

                @media only screen and (min-width: 768px){
                    width: 30%;
                    height: 100%;
                }

                .img-contenedor{
                    height: 100%;
                    width: 100%;
                }
            }

            &:nth-child(2){
                width: 100%;
                padding: 20px;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media only screen and (min-width: 768px){
                    width: 70%;
                }

                .contenedor-img-nominaciones{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    
                }

                .img-contenedor{
                    margin: 0;
                   padding-right: 15px;
                    
                    &:nth-child(1){
                        width: 200px;
                        height: 60px;
                    }

                    &:nth-child(2){
                        width: 100px;
                        height: 60px;
                        padding-right: 0;
                    }

                    img{
                        object-fit: contain;
                    }
                    
                
                }
            }

            

            div.redes-sociales{

                margin-top: 20px;
             
                i{
                    display: inline-block;
                    font-size: 24px;
                    padding: 10px 15px;
                    
                    color: #cb828b;
                    border-radius: 50%;
                    background: white;
                }
            }
        }
    }
}