/* ------------- */
/* Sección Hero página de inicio*/
/* ------------- */

.inicio section.hero {
    height: 100vh;
    width: 100%;
    background: url("../img/postres/fondo-principal-1.jpg");
    background-position: left center;
    background-size: cover;
    padding-top: 80px;
    overflow: hidden;

    .slider {
        height: 100%;
        width: 400vw;
        display: flex;

    }

    .columna {
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slider 12s infinite 2s;
        background-position: center center;
        background-size: cover;

        &:nth-child(1){
            background-image: url("../img/postres/fondo-principal-1.jpg");
        }

        &:nth-child(2){
            background-image: url("../img/postres/fondo\ principal\ 2.jpg");
        }

        &:nth-child(3){
            background-image: url("../img/postres/fondo\ principal\ 3.jpg");
        }
        
        &:nth-child(4){
            background-image: url("../img/postres/fondo-principal-1.jpg");
        }

        .img-contenedor {
            width: 400px;
            padding-bottom: 40px;
        }

        p {
            margin: 0 auto;
            width: 60vw;
            color: white;
            text-align: center;
        }
    }
}

/* Animación slider */
@keyframes slider {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100vw);
    }

    66% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(-300vw);
    }
}

/* ----------------- */
/* Sección tradición */
/* ----------------- */

.inicio section.tradicion {
    color: #cb828b;
    min-height: 60vh;
    width: 100%;
    background: url("../img/postres/fondo\ descripcion.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contenedor {
        width: 90vw;

        @media only screen and (min-width: 768px){
            width: 60vw;
        }

        @media only screen and (min-width: 981px){
            width: 50vw;
        }

        @media only screen and (min-width: 1405px){
            width: 33vw;
        }

        &:first-child {
            padding-bottom: 0;
        }

        &.postres {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            

            .columna {
                max-width: 50%;
                padding-right: 15px;

                @media only screen and (min-width: 768px){
                    max-width: 25%;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            .img-contenedor {
                width: 80px;
                max-width: 100%;
                
            }
        }
    }


    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}
