/* ------------- */
/* Sección Hero página de inicio*/
/* ------------- */

.inicio section.hero {
    height: 100vh;
    width: 100%;
    background: url("../img/postres/fondo-principal-1.jpg");
    background-position: left center;
    background-size: cover;
    padding-top: 80px;
    overflow: hidden;

    .slider {
        height: 100%;
        width: 400vw;
        display: flex;

    }

    .columna {
        height: 80%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slider 12s infinite 10s;

        .img-contenedor {
            width: 400px;
            padding-bottom: 40px;
        }

        p {
            margin: 0 auto;
            width: 60vw;
            color: white;
            text-align: center;
        }
    }
}

/* Animación slider */
@keyframes slider {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-100vw);
    }

    66% {
        transform: translateX(-200vw);
    }

    100% {
        transform: translateX(-300vw);
    }
}

/* ----------------- */
/* Sección tradición */
/* ----------------- */

.inicio section.tradicion {
    color: #cb828b;
    min-height: 60vh;
    width: 100%;
    background: url("../img/postres/fondo\ descripcion.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contenedor {
        width: 90vw;

        @media only screen and (min-width: 768px){
            width: 60vw;
        }

        @media only screen and (min-width: 981px){
            width: 50vw;
        }

        @media only screen and (min-width: 1405px){
            width: 33vw;
        }

        &:first-child {
            padding-bottom: 0;
        }

        &.postres {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            

            .columna {
                max-width: 50%;
                padding-right: 15px;

                @media only screen and (min-width: 768px){
                    max-width: 25%;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            .img-contenedor {
                width: 80px;
                max-width: 100%;
                
            }
        }
    }


    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

/* --------------- */
/* Sección postres */
/* --------------- */

section.postres {
    height: calc(100vh - 80px);

    .contenedor {
        max-width: none;
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .columna {
        width: 100%;
        height: 50%;
        overflow: hidden;
        position: relative;
        @media only screen and (min-width: 768px){
            width: 50%;
            height: 50%;
        }

        @media only screen and (min-width: 1100px){
            width: 25%;
            height: 100%;
        }

        &:nth-child(1){
            background: url("../img/postres/menu-1_escala.jpg");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            
        }

        &:nth-child(2){
            background: url("../img/postres/menu-2_escala.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            
        }
        &:nth-child(3){
            background: url("../img/postres/menu-3_escala.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            
        }
        &:nth-child(4){
            background: url("../img/postres/menu-4_escala.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .descripcion{
            padding: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(#cb828b, 0.4);
            transition: all .5s ease;

            @media only screen and (min-width: 768px){
                position: absolute;
                height: auto;
                top: -100%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(#cb828b, 0.6);
            }

            >*{
                text-align: center;
                color: white;
            }

        }

        a{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;

            &:hover~.descripcion {
                @media only screen and (min-width: 768px){
                    top: 50%;
                    left: 50%;
                }
            }
        }

    }

}
