@import 'fonts';
/* Generales */
.contenedor{
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px;
}

/* Imágenes */
.img-contenedor{
    text-align: center;

    img{
        width: 100%;
        height: 100%;
    }
}

/* Tipografias */
html{
    font-family: 'Quicksand';
}

@import 'menu';
@import 'footer';
@import 'page-inicio';
